/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width: 10%;
  height: 30%;
}
h3 {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  padding: 3%;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
