* {
    box-sizing: border-box;
}

section.blocks {
    width: 33.3333%;
    float: left;
    height: 300px;
    color: blue;
    background: gray;
    border: 1px solid greenyellow;
}
header, footer{
    background: red;
    height: 100px;
    border: 1px solid black;
    clear: both;
}

