<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<nav>
				<ul>
					<li><img src="logo.png"></li>
					<li><a href="#">Home</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Menu</a></li>
					<li><a href="#">Order Now</a></li>
					<li><a href="#">Blog</a></li>
					<li><a href="#">Location</a></li>
					<li><a href="#">Shop</a></li>
					<li><a href="#">Search</a></li>
				</ul>
			</nav>
		</header>
		<section id="mainPage">
			<section>
				<h1>Welcome to our cuisine restaurant</h1>
				<input type="text" placeholder="Search">
				<input class="button" type="button" value="Location">
				<ul>
					<li><a href="#">252k</a></li>
					<li><a href="#">62k</a></li>
					<li><a href="#">55k</a></li>
				</ul>
			</section>
			<section>
				<img src="background.png">
			</section>
		</section>
		<section id="middlePage">
			<section>
				<img src="background.png">
			</section>
			<section>
				<span>About Us</span>
				<h2>Discover Our Restaurant Story</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, officia? Doloremque dolorum iure porro reprehenderit nulla quas expedita voluptas odio.</p>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad nesciunt dolorem, sunt explicabo architecto ullam.</p>
				<input class="button" type="button" value="Discover Menu">
			</section>
		</section>
		<section id="bottomPage">
			<section>
				<span>Order Online Now</span>
				<h2>Our Specility Cuisine</h2>
				<ul>
					<li><a href="#">Breakfast</a></li>
					<li><a href="#">Launch</a></li>
					<li><a href="#">Dinner</a></li>
					<li><a href="#">Dessert</a></li>
					<li><a href="#">Shake</a></li>
				</ul>
			</section>
			<section>
				<img src="footer.png">
			</section>
		</section>
		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
