* {
    box-sizing: border-box;
}
header, footer{
    background-color: rebeccapurple;
    border: 1px solid black;
    height: 100px;
    clear: both;
}
section {
    background: orange;
    border: 1px solid black;
}
section.top-section{
    width: 100%;
    height: 100px;
}
section.bottom-section{
    width: 30%;
    height: 100px;
    float: left;
}
section.bottom-2-section{
    width: 70%;
    height: 100px;
    float: left;
}