body {
    background: #39B5E0;
    font-family: 'Roboto', sans-serif;
    color: white;
}
section {
    text-align: center;
    border: 10px solid greenyellow;
    width: 50%;
    height: 700px;
    margin: 0 auto;
    padding: 3%;
}
img {
    width: 250px;
    height: 300px;
    float: right;
    padding: 3%;
}
li {
    display: inline-block;
    margin: 5px;
}
p{
    padding: 10px;
    font-size: 1rem;
    text-align: left;
}
h2 {
    text-align: left;
    padding: 10px;
    font-weight: bold;
}