* {
    box-sizing: border-box;
}
header, footer {
    height: 100px;
    background-color: red;
    clear: both;
}
section.top-section {
    float: left;
    width: 33.3333%;
    height: 300px;
    background: blueviolet;
    border: 1px solid green;
    
}
.bottom-section {
    width: 50%;
    height: 250px;
    background-color: aqua;
    border: 1px solid brown;
    float: left;
}
