* {
    box-sizing: border-box;
}
section {
    background-color: red;
    border: 1px solid green;
    height: 400px;
    float: left;

}
section.middle-sections1{
    width: 15%;

}
section.middle-sections2 {
    width: 50%;
}
section.middle-sections3 {
    width: 15%;
}
section.middle-sections4 {
    width: 20%;
}
header,footer {
    background-color: black;
    height: 100px;
    clear: both;
}